<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/logo2.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<script>
	/*
  function login() {
    $.ajax({
            type: 'post',
            url: '/login',
            data: {
                'email': $('#email').val(),
                'pwd': $('#pwd').val()
            },

            success : function(result) {

				if(result.response == "1"){
					console.log("?")
					location.href = "/user_info";
            	}else if(result.response == "0"){
					alert("비밀번호가 다르거나 이메일이 등록되어있지 않습니다");
					return false;
            	}
            },
            error : function() {
                alert('fail');
            }

        });
  }
  */
  function login() {
	  
	  let _email = document.getElementById("email").value;
	  let _pwd = document.getElementById("pwd").value;
	  document.getElementById("email").value="";
	  document.getElementById("pwd").value="";
    $.ajax({
            type: 'post',
            url: '/login',
            data: {
                'email': _email,
                'pwd': _pwd
            },

            success : function(result) {

				if(!(result.response == "0")){
					location.href = "/user_info?key=" + result.response;
            	}else if(result.response == "0"){
					alert("비밀번호가 다르거나 이메일이 등록되어있지 않습니다");
					return false;
				}

            },
            error : function() {
                alert('fail');
            }

        });
  }
</script>

<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST" onsubmit="login()">
					<span class="login100-form-title p-b-26">
						Welcome
					</span>
					
					<span class="login100-form-title p-b-48">
						<img src="/images/logo2.png" style="margin-left:3%"> <!-- 로고 위치 -->
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input100" type="text" name="email" id="email">
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="pass" id="pwd">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" class="login100-form-btn">
								로그인
								
							</button>

						</div>
					</div>
					<br>

					
				</form>

				<!-- 회원가입 버튼 -->
				<div class="wrap-signUp100-form-btn">
					<div class="signUp100-form-bgbtn"></div>
					
					<button class="signUp100-form-btn" onclick="location.href='create_account'">
						회원가입
					</button>
				</div>

				<div class="text-center p-t-115">
					<span class="txt1" style="font-weight: bold;">
						Recycling System for Everyone
					</span>
					<br>
				</div>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>