<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='http://code.jquery.com/jquery-latest.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <script>
    </script>
  </body>
</html>